IOT/javascript code.txt
[{"id":"eb6cce61.33e0c","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"ac0f7ac0.969e88","type":"inject","z":"eb6cce61.33e0c","name":"","topic":"","payload":"","payloadType":"date","repeat":"10800","crontab":"","once":true,"onceDelay":"","x":870,"y":440,"wires":[["c65244eb.d13698"]]},{"id":"7711f4ae.d5a5bc","type":"ui_template","z":"eb6cce61.33e0c","group":"356f9d6d.ec02d2","name":"","order":1,"width":"6","height":"11","format":"<iframe width=\"854\" height=\"480\" ng-src=\"http://10.20.0.197:8080/video\" frameborder=\"0\" allowfullscreen></iframe>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1220,"y":620,"wires":[[]]},{"id":"97d4f86.1f29408","type":"ui_button","z":"eb6cce61.33e0c","name":"","group":"356f9d6d.ec02d2","order":0,"width":0,"height":0,"passthru":false,"label":"Start recognition","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":930,"y":540,"wires":[["737cbbbf.fd9324","c65244eb.d13698"]]},{"id":"737cbbbf.fd9324","type":"debug","z":"eb6cce61.33e0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1190,"y":680,"wires":[]},{"id":"413b9864.9839b8","type":"file in","z":"eb6cce61.33e0c","name":"","filename":"/home/pi/Desktop/New6/test.jpg","format":"","sendError":true,"x":1150,"y":900,"wires":[["860ba97d.23c768"]]},{"id":"860ba97d.23c768","type":"change","z":"eb6cce61.33e0c","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":960,"wires":[["3e1fb1fb.3e92ce"]]},{"id":"3e1fb1fb.3e92ce","type":"http response","z":"eb6cce61.33e0c","name":"","statusCode":"","headers":{},"x":1570,"y":960,"wires":[]},{"id":"c65244eb.d13698","type":"exec","z":"eb6cce61.33e0c","command":"fswebcam -d /dev/video0 -S 30 -F 5 tst.jpg","addpay":true,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Take Picture","x":1070,"y":420,"wires":[["ef90717.baa529"],[],[]]},{"id":"ef90717.baa529","type":"file in","z":"eb6cce61.33e0c","name":"","filename":"tst.jpg","format":"","sendError":true,"x":1250,"y":420,"wires":[["d53c8334.caec6","18d0a33a.cbfe9d"]]},{"id":"d53c8334.caec6","type":"file","z":"eb6cce61.33e0c","name":"","filename":"/home/pi/Desktop/New6/test.jpg","appendNewline":true,"createDir":true,"overwriteFile":"true","x":1650,"y":420,"wires":[]},{"id":"1324fca8.eca923","type":"visual-recognition-v3","z":"eb6cce61.33e0c","name":"Visual Recognition","apikey":"__PWRD__","image-feature":"classifyImage","lang":"fr","x":1410,"y":500,"wires":[["5146d42d.aeeafc","951aba11.957a38","dbc4bf3d.414a6","be5c28b5.1a3018"]]},{"id":"5146d42d.aeeafc","type":"debug","z":"eb6cce61.33e0c","name":"msg","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","x":1656.999984741211,"y":480,"wires":[]},{"id":"4fc22921.eacb18","type":"ui_text","z":"eb6cce61.33e0c","group":"b0b9ad51.dcae4","order":0,"width":0,"height":0,"name":"","label":"classe","format":"{{msg.payload}}","layout":"row-spread","x":1770,"y":720,"wires":[]},{"id":"951aba11.957a38","type":"function","z":"eb6cce61.33e0c","name":"classe","func":"msg.payload = msg.result.images[0].classifiers[0].classes[0].class;\nmsg.payload = \"I think this is \"+ msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":1584.9998970031738,"y":666.0000019073486,"wires":[["4fc22921.eacb18"]]},{"id":"dbc4bf3d.414a6","type":"ui_gauge","z":"eb6cce61.33e0c","name":"","group":"b0b9ad51.dcae4","order":0,"width":0,"height":0,"gtype":"gage","title":"score","label":"units","format":"{{msg.result.images[0].classifiers[0].classes[0].score}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"0.3","seg2":"0.6","x":1790,"y":780,"wires":[]},{"id":"1c160bf2.604044","type":"ui_text","z":"eb6cce61.33e0c","group":"b0b9ad51.dcae4","order":0,"width":0,"height":0,"name":"","label":"Recognised Student","format":"{{msg.payload}}","layout":"row-spread","x":1900,"y":860,"wires":[]},{"id":"8f6ac85c.a37a28","type":"function","z":"eb6cce61.33e0c","name":"conclusion","func":"msg.payload = msg.result.images[0].classifiers[0].classes[0].class;\nmsg.payload = \"Bonjour \"+ msg.payload; \nreturn msg;\n","outputs":1,"noerr":0,"x":1507.999755859375,"y":786.9999685287476,"wires":[["1c160bf2.604044","bc9a0b79.1ed598"]]},{"id":"bc9a0b79.1ed598","type":"watson-text-to-speech","z":"eb6cce61.33e0c","name":"","lang":"fr-FR","langhidden":"fr-FR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"fr-FR_ReneeVoice","voicehidden":"en-US_AllisonVoice","format":"audio/mp3","password":"bJUiAtptCu1w","payload-response":true,"default-endpoint":false,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":1926.999984741211,"y":480,"wires":[["4e66a52.0d3be5c"]]},{"id":"18d0a33a.cbfe9d","type":"function","z":"eb6cce61.33e0c","name":"List of classes","func":"msg.params = [];\nmsg.params[\"classifier_ids\"] = \"DefaultCustomModel_877687583\";\nmsg.params[\"owners\"] = \"me\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":540,"wires":[["1324fca8.eca923"]]},{"id":"4e66a52.0d3be5c","type":"play audio","z":"eb6cce61.33e0c","name":"","voice":"0","x":2150,"y":500,"wires":[]},{"id":"e5693206.effb3","type":"function","z":"eb6cce61.33e0c","name":"conclusion--complete","func":"msg.payload = msg.result.images[0].classifiers[0].classes[0].class;\nmsg.payload = \" c'est \"+ msg.payload;\nscore = msg.result.images[0].classifiers[0].classes[0].score;\nmsg.payload = \"Je suis sûre à \"+ score*100 + \"% que \"+ msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":1960,"y":760,"wires":[[]]},{"id":"be5c28b5.1a3018","type":"switch","z":"eb6cce61.33e0c","name":"","property":"result.images[0].classifiers[0]","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1416.999984741211,"y":580,"wires":[["8f6ac85c.a37a28","2f98596a.edb7c6","81cf6a7b.b406c8","5b282642.fe0748"],["e5943de6.42af3"]]},{"id":"e5943de6.42af3","type":"function","z":"eb6cce61.33e0c","name":"non reconnu ","func":"msg.payload = msg.result.images[0].classifiers[0].classes[0].class;\nmsg.payload = \" Désolé, je ne vous ai pas reconnu \";\nreturn msg;\n","outputs":1,"noerr":0,"x":1470,"y":860,"wires":[["25cb1ff5.a041b"]]},{"id":"25cb1ff5.a041b","type":"ui_text","z":"eb6cce61.33e0c","group":"b0b9ad51.dcae4","order":0,"width":0,"height":0,"name":"","label":"not recognised","format":"{{msg.payload}}","layout":"row-spread","x":1760,"y":900,"wires":[]},{"id":"9535bae6.872208","type":"inject","z":"eb6cce61.33e0c","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":720,"wires":[["7711f4ae.d5a5bc"]]},{"id":"21b8a2cc.ba619e","type":"http in","z":"eb6cce61.33e0c","name":"","url":"/hello-file","method":"get","upload":false,"swaggerDoc":"","x":900,"y":940,"wires":[["413b9864.9839b8"]]},{"id":"f9aa2aaf.5b9a98","type":"ui_text","z":"eb6cce61.33e0c","group":"b0b9ad51.dcae4","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1930,"y":1020,"wires":[]},{"id":"2f98596a.edb7c6","type":"function","z":"eb6cce61.33e0c","name":"conclusion","func":"msg.payload = msg.result.images[0].classifiers[0].classes[0].class;\nmsg.payload = \" la note d'examen de \"+ msg.payload +\" : 15/20 \";\nreturn msg;\n","outputs":1,"noerr":0,"x":1750,"y":1020,"wires":[["f9aa2aaf.5b9a98"]]},{"id":"f6676d7d.e586a","type":"ui_text","z":"eb6cce61.33e0c","group":"b0b9ad51.dcae4","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1930,"y":1080,"wires":[]},{"id":"81cf6a7b.b406c8","type":"function","z":"eb6cce61.33e0c","name":"conclusion","func":"msg.payload = msg.result.images[0].classifiers[0].classes[0].class;\nmsg.payload = \" la note de tp de \"+ msg.payload +\" : 17/20 \";\nreturn msg;\n","outputs":1,"noerr":0,"x":1750,"y":1080,"wires":[["f6676d7d.e586a"]]},{"id":"fbcc5513.014ca8","type":"ui_text","z":"eb6cce61.33e0c","group":"b0b9ad51.dcae4","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1930,"y":1140,"wires":[]},{"id":"5b282642.fe0748","type":"function","z":"eb6cce61.33e0c","name":"conclusion","func":"msg.payload = msg.result.images[0].classifiers[0].classes[0].class;\nmsg.payload = \" le taux de présence de \"+ msg.payload +\" : 80%\";\nreturn msg;\n","outputs":1,"noerr":0,"x":1750,"y":1140,"wires":[["fbcc5513.014ca8"]]},{"id":"356f9d6d.ec02d2","type":"ui_group","z":"","name":"image","tab":"add33343.ed7e1","order":1,"disp":true,"width":"6","collapse":false},{"id":"b0b9ad51.dcae4","type":"ui_group","z":"","name":"Resultat","tab":"add33343.ed7e1","order":2,"disp":true,"width":"6","collapse":false},{"id":"add33343.ed7e1","type":"ui_tab","z":"","name":"ppp","icon":"dashboard","order":2}]
